/Solutions/.vs/C4Admin/DesignTimeBuild/.dtbcache.v2
/Solutions/.vs/C4Admin/FileContentIndex/99c07829-81bb-4a64-bb86-4cdd1a10a23a.vsidx
/Solutions/.vs/C4Admin/FileContentIndex/e576ffb7-6517-4be5-8faf-9b2311957b86.vsidx
/Solutions/.vs/C4Admin/FileContentIndex/read.lock
/Solutions/.vs/C4Admin/v16/.suo
/Solutions/.vs/C4Admin/v17/.futdcache.v1
/Solutions/.vs/C4Admin/v17/.futdcache.v2
/Solutions/.vs/C4Admin/v17/.suo
/Solutions/.vs/C4CAE/DesignTimeBuild/.dtbcache.v2
/Solutions/.vs/C4CAE/FileContentIndex/ce31ad2c-28d6-4ddd-b755-d972ea1cba74.vsidx
/Solutions/.vs/C4CAE/v17/.futdcache.v2
/Solutions/.vs/C4CAE/v17/.suo
/Solutions/.vs/C4CAE/v17/DocumentLayout.json
/Solutions/.vs/C4CDCplus/DesignTimeBuild/.dtbcache.v2
/Solutions/.vs/C4CDCplus/FileContentIndex/111ef689-f0cd-455d-a0ea-4af14ce070a8.vsidx
/Solutions/.vs/C4CDCplus/FileContentIndex/ed50b36a-320a-4cc9-b0af-ca358b9de477.vsidx
/Solutions/.vs/C4CDCplus/FileContentIndex/efa4e876-d6dd-48c9-9618-7c39bdca1f12.vsidx
/Solutions/.vs/C4CDCplus/v16/.suo
/Solutions/.vs/C4CDCplus/v17/.futdcache.v1
/Solutions/.vs/C4CDCplus/v17/.futdcache.v2
/Solutions/.vs/C4CDCplus/v17/.suo
/Solutions/.vs/C4CDCplus/v17/DocumentLayout.json
/Solutions/.vs/C4CDCplus/v17/HierarchyCache.v1.txt
/Solutions/.vs/C4ChangeTrigger/DesignTimeBuild/.dtbcache.v2
/Solutions/.vs/C4ChangeTrigger/FileContentIndex/09bf5fd0-3e6e-4061-bd55-947bac23aa65.vsidx
/Solutions/.vs/C4ChangeTrigger/FileContentIndex/0b48512c-ded4-4fb1-8a15-face875cd6ae.vsidx
/Solutions/.vs/C4ChangeTrigger/FileContentIndex/bad0cc2a-4219-4c90-8ae6-bc179ac2d284.vsidx
/Solutions/.vs/C4ChangeTrigger/FileContentIndex/c1a8d33e-7dee-4743-8d29-5ca50cf5224a.vsidx
/Solutions/.vs/C4ChangeTrigger/v17/.futdcache.v2
/Solutions/.vs/C4ChangeTrigger/v17/.suo
/Solutions/.vs/C4ChangeTrigger/v17/DocumentLayout.json
/Solutions/.vs/ProjectEvaluation/c4admin.metadata.v2
/Solutions/.vs/ProjectEvaluation/c4admin.metadata.v6.1
/Solutions/.vs/ProjectEvaluation/c4admin.projects.v2
/Solutions/.vs/ProjectEvaluation/c4admin.projects.v6.1
/Solutions/.vs/ProjectEvaluation/c4cae.metadata.v6.1
/Solutions/.vs/ProjectEvaluation/c4cae.metadata.v7.bin
/Solutions/.vs/ProjectEvaluation/c4cae.projects.v6.1
/Solutions/.vs/ProjectEvaluation/c4cae.projects.v7.bin
/Solutions/.vs/ProjectEvaluation/c4cdcplus.metadata.v7.bin
/Solutions/.vs/ProjectEvaluation/c4cdcplus.projects.v7.bin
/Solutions/.vs/ProjectEvaluation/c4changetrigger.metadata.v7.bin
/Solutions/.vs/ProjectEvaluation/c4changetrigger.projects.v7.bin
/CAE/.vs/CAE/DesignTimeBuild/.dtbcache.v2
/CAE/.vs/CAE/FileContentIndex/228e3ad0-afa9-4832-a907-77067dc6094f.vsidx
/CAE/.vs/CAE/FileContentIndex/read.lock
/CAE/.vs/CAE/v17/.futdcache.v2
/CAE/.vs/CAE/v17/.suo
/CAE/.vs/ProjectEvaluation/cae.metadata.v6.1
/CAE/.vs/ProjectEvaluation/cae.projects.v6.1
/ChangeTrigger/Properties/PublishProfiles/*.pubxml
/CDCplusLib/Messages/WindowNotifyUserMessage.cs
/CDCplusLib/Messages/SessionWindowRequestData/BrowserSessionWindowRequestData.cs
/CDCplusLib/Messages/SessionWindowRequestData/ResultListSessionWindowRequestData.cs
/CDCplusLib/Messages/FolderChangeMessage.cs
/CDCplusLib/Messages/KeyPressedMessage.cs
/CDCplusLib/Messages/ListSelectionChangeMessage.cs
/CDCplusLib/Messages/ObjectDoubleClickedMessage.cs
/CDCplusLib/Messages/ObjectsCreatedMessage.cs
/CDCplusLib/Messages/ObjectsDeletedMessage.cs
/CDCplusLib/Messages/ObjectsModifiedMessage.cs
/CDCplusLib/Messages/ObjectsMovedMessage.cs
/CDCplusLib/Messages/ObjectVersionedMessage.cs
/CDCplusLib/Messages/SelectionRightClickedMessage.cs
/CDCplusLib/Messages/SessionWindowRequestMessage.cs
/CDCplusLib/Messages/SetTreeContextSelectionMessage.cs
/CDCplusLib/Messages/TreeNodeRefreshRequestMessage.cs
